<div id="breakpoints-display" class="container">
    <span class="text-muted">Current bootstrap breakpoint</span>
    <span class="text-muted" title="Current bootstrap breakpoint">
        <span class="badge badge-light d-none d-sm-inline">xs</span>
        <span class="badge badge-primary d-inline d-sm-none">xs</span>

        <span class="badge badge-light d-inline d-sm-none d-md-inline">sm</span>
        <span class="badge badge-success d-none d-sm-inline d-md-none">sm</span>

        <span class="badge badge-light d-inline d-md-none d-lg-inline">md</span>
        <span class="badge badge-warning d-none d-md-inline d-lg-none">md</span>

        <span class="badge badge-light d-inline d-lg-none d-xl-inline">lg</span>
        <span class="badge badge-info d-none d-lg-inline d-xl-none">lg</span>
        
        <span class="badge badge-light d-inline d-xl-none">xl</span>
        <span class="badge badge-danger d-none d-xl-inline">xl</span>
    </span>
</div>