
html,
body {
  height: 100%;
}
body {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  line-height: 1.5;
  font-family:'Montserrat Medium';
  font-size: 14px;
} 
body > * {
  /*max-width: 30em;*/
  margin: auto;
}

footer {
  display: none;
}

/* center title */
.cover-heading,
.lead {
    text-align: center;
}

/* paragraphe avec letrine letrine */
.p-with-letrine  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.letrine {
  float: left !important;
  padding: .5em;
  margin-right: .5em;
  border-radius: 1em;
  background-color: $orange;
}
.letrine-light {
  background-color: $white;
}

/* skinnag de "lama" */
main.cover {
  /* pour prendre toute la largeur possible */
  height: 100vh;
  /* pour que ce soit centré verticalement */
  display: flex;
  align-items: center;
}

.lama-container {
  /* pour centrer horizontalemenr */
  margin: auto;
  /*  pour prendre toute la largeur .. */
  width: 100%;
  /* mais pas trop */
  max-width: 80vh;
  /* en conservant le ratio de l'image de BG */
  aspect-ratio: 2000 / 2400;
  /* just in "case of" */
  background-color: $white;
  margin-bottom: 1em;
  /* pas de débordement */
  overflow: hidden;
  background-size: contain;

  /* jolis bordures */
  border-radius: 1em;
}
.lama-bg {
  /* on prend toute la taille possible */
  width: 100%;
  height: 100%;
}
#lama div {
  /* l'image de fond doit s'addapter à la taille */
  background-size: contain;
}
/* les differantes parties skinnables */
.lama-container .part {
  cursor: pointer;
  position: relative;
}
/* les positions spécifiques en fonction des parties */
.lama-part-corn {
  top: -100%;
  left: 11%;
  width: 30%;
  height: 14%;
}
.lama-part-face {
  top: -99.6%;
  left: 4%;
  width: 34%;
  height: 22%;
}
.lama-part-stool {
  top: -89.4%;
  left: 38%;
  width: 35%;
  height: 19%;
}
.lama-part-mane {
  top: -141.4%;
  left: 36%;
  width: 17%;
  height: 35%;
}

.lama-part-tail {
  top: -151%;
  left: 66%;
  width: 20%;
  height: 12%;
}


/* just to debug */
/*
.lama-container .part {
  background-color: #0000ff33;
}
.lama-container .lama-part-corn {
  background-color: #ff000033;
}
.lama-container .lama-part-face {
  background-color: #ff00ff33;
}
.lama-container .lama-part-stool {
  background-color: #ff000033;
}
.lama-container .lama-part-mane {
  background-color: #0000ff33;
}
.lama-container .lama-part-tail {
  background-color: #ff00ff33;
}
/* end debug */